@charset "UTF-8";
/* -------------------------------- Миксины -------------------------------- */
/* ----------------------------- Общие стили ----------------------------- */
/* Блок соц сетей */
.block-social-links {
  display: flex;
  /* иконки общие стили */
}
.block-social-links .common-soc-link {
  margin-left: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #005a53;
}
.block-social-links .common-soc-link a svg {
  transition: all ease-in-out 0.2s;
}
.block-social-links .common-soc-link a svg:hover {
  opacity: 0.6;
}

/* Оранжевая кнопка */
.orange-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 240px;
  height: 74px;
  border-radius: 5px;
  font: 600 18px/22px Montserrat;
  color: #fff;
  text-transform: uppercase;
  background-color: #f58021;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 640px) {
  .orange-button {
    width: 212px;
    height: 48px;
  }
}
@media (max-width: 320px) {
  .orange-button {
    width: 300px;
    height: 45px;
  }
}
.orange-button:hover {
  background-color: #d26004;
}

/* Прозрачная кнопка c оранжевым квадратом */
.danat-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 74px;
  border: 1px solid #fff;
  border-radius: 5px;
  overflow: hidden;
  /* убирает стрелки в number */
}
.danat-button .money {
  font: 400 18px/27px Montserrat;
  position: relative;
  color: #fff;
  width: 225px;
  height: 74px;
  padding-left: 5px;
  background: rgba(0, 0, 0, 0);
}
.danat-button .money::placeholder {
  color: #fff;
  text-transform: uppercase;
}
.danat-button .dollar {
  font: 400 18px/27px Montserrat;
  padding-left: 10px;
}
.danat-button input[type=number] {
  -moz-appearance: textfield;
}
.danat-button input[type=number]::-webkit-outer-spin-button,
.danat-button input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.danat-button .orange-arrow {
  width: 80px;
  height: 72px;
  background: #f58021 url(../../assets/images/Union1.png) center center no-repeat;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}
.danat-button .orange-arrow:hover {
  background-color: #d26004;
  cursor: pointer;
}

/* Прозрачная кнопка темная */
.transporent-button-dark {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 359px;
  height: 74px;
  font: 600 18px/22px Montserrat;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  color: #20113d;
  border: 1px solid #20113d;
}
.transporent-button-dark svg path {
  transition: all 0.2s ease-in-out;
}

.transporent-button-dark:hover {
  background-color: #20113d;
  color: #fff;
}

.transporent-button-dark:hover svg path {
  fill: #fff;
}

/* Прозрачная кнопка светлая */
.transporent-button-white {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 359px;
  height: 74px;
  font: 600 18px/22px Montserrat;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  color: #fff;
  border: 1px solid #fff;
}
.transporent-button-white svg path {
  fill: #fff;
  transition: all 0.2s ease-in-out;
}

.transporent-button-white:hover {
  background-color: #fff;
  color: #20113d;
}

.transporent-button-white:hover svg path {
  fill: #20113d;
}

/* кнопка, стрелка темная */
.square-arrow-dark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px 60px 30px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.square-arrow-dark svg path {
  transition: all ease-in-out 0.2s;
}

.square-arrow-dark:hover {
  background-color: #20113d;
}

.square-arrow-dark:hover svg path {
  fill: #fff;
}

/* кнопка, стрелка светлая */
.square-arrow-white {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px 60px 30px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  border: 1px solid #fff;
}
.square-arrow-white svg path {
  fill: #fff;
  transition: all ease-in-out 0.2s;
}

.square-arrow-white:hover {
  background-color: #fff;
}

.square-arrow-white:hover svg path {
  fill: #20113d;
}

/* оранжевый текст ссылка со стрелкой */
.text-link-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 74px;
  font: 600 18px/22px Montserrat;
  text-transform: uppercase;
  color: #f58021;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.text-link-arrow svg {
  margin-left: 10px;
}
.text-link-arrow svg path {
  transition: all 0.2s ease-in-out;
}

.text-link-arrow:hover {
  background-color: #f58021;
  color: #fff;
}

.text-link-arrow:hover svg path {
  fill: #fff;
}

/* ------------------- Обертка всего содержимого страницы ------------------- */
.wrapper-common-content {
  width: 100%;
}

/* ---------------------------- Верхний блок ---------------------------- */
/* Фон header */
.background-header {
  background: #f58021;
  /* Блок header */
}
.background-header header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1400px;
  height: 110px;
  /* Блок с логотипом */
  /* Блок меню */
}
.background-header header .logo {
  flex-grow: 0.8;
}
.background-header header .menu {
  display: flex;
  /* no-interactive */
  /* ссылки меню общие стили */
}
.background-header header .menu li.no-interactive a {
  color: #00a092;
  cursor: inherit;
}
.background-header header .menu .head-menu-link {
  margin-left: 50px;
}
.background-header header .menu .head-menu-link a {
  font: 600 18px Montserrat;
  text-transform: uppercase;
  color: #000;
  transition: all ease-in-out 0.2s;
}
.background-header header .menu .head-menu-link a:hover {
  color: #00a092;
}

/* brackpoint Фон header */
@media (max-width: 1200px) {
  .background-header header {
    width: 1000px;
  }
}
@media (max-width: 640px) {
  .background-header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .background-header header {
    width: 640px;
    padding-left: 20px;
    /* Блок меню */
    /* Блок соц сетей */
  }
  .background-header header nav .menu {
    position: relative;
    width: 30px;
    height: 26px;
    overflow: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  .background-header header nav .menu::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #000;
  }
  .background-header header nav .menu:hover {
    cursor: pointer;
  }
  .background-header header nav .block-social-links {
    display: none;
  }
}
@media (max-width: 320px) {
  .background-header header {
    width: 320px;
    padding-left: 20px;
    /* Блок меню */
  }
  .background-header header nav .menu {
    width: 22px;
    height: 30px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
  }
  .background-header header nav .menu::after {
    content: "";
    top: 11px;
    width: 22px;
    height: 3px;
  }
}
/* ---------------------------- Основное содержание ---------------------------- */
.wrapper-main-aside {
  width: 100%;
  display: flex;
  position: relative;
  /* блок aside(полностью видимый) */
  /* основной контент */
}
.wrapper-main-aside aside {
  position: absolute;
  height: 100%;
}
.wrapper-main-aside aside .aside__inner-slide {
  width: 220px;
  height: 846px;
  background-color: #20113d;
  position: sticky;
  top: 0px;
  /* верхняя кнопка открытия меню */
  /* блок(виыимая часть) */
  /* нижняя кнопка прокрутка */
}
.wrapper-main-aside aside .aside__inner-slide .button-common {
  height: 80px;
}
.wrapper-main-aside aside .aside__inner-slide .aside__button-menu-open {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.wrapper-main-aside aside .aside__inner-slide .aside__button-menu-open .aside__live {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 38px;
  background-color: #f58021;
  border-radius: 0 0 5px 0;
}
.wrapper-main-aside aside .aside__inner-slide .aside__button-menu-open .aside__live p {
  margin-right: 10px;
  font: 600 18px/22px Montserrat;
  color: #fff;
  text-transform: uppercase;
}
.wrapper-main-aside aside .aside__inner-slide .aside__button-menu-open .aside__button-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
}
.wrapper-main-aside aside .aside__inner-slide .aside__button-menu-open svg {
  transition: all 0.2s ease-in-out;
}
.wrapper-main-aside aside .aside__inner-slide .aside__button-menu-open:hover .aside__button-arrow svg {
  transform: scale(1.2);
}
.wrapper-main-aside aside .aside__inner-slide .aside__block-animal {
  height: 686px;
  overflow: hidden;
  /* блок(часть скрыта) */
}
.wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap {
  overflow: hidden;
}
.wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .aside__list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 171px;
  border-top: 1px solid #fff;
}
.wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .aside__list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 104px;
  background-color: #f58021;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .aside__list a:hover {
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #20113d, 0px 0px 0px 7px #fff;
}
.wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .list-lemur a {
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #20113d, 0px 0px 0px 7px #fff;
}
.wrapper-main-aside aside .aside__inner-slide .aside__button-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-top: 1px solid #fff;
}
.wrapper-main-aside aside .aside__inner-slide .aside__button-scroll svg {
  transition: all 0.2s ease-in-out;
}
.wrapper-main-aside aside .aside__inner-slide .aside__button-scroll:hover svg {
  transform: scale(1.2);
}
.wrapper-main-aside main {
  width: 100%;
  /* блок live-panda */
  /* блок донат */
  /* блок с описанием */
}
.wrapper-main-aside main .live-panda {
  margin: 0 auto;
  width: 1400px;
  /* блок с заголовком и кнопкой */
  /* блок с видео */
  /* блок с каруселью */
}
.wrapper-main-aside main .live-panda .live-panda__block-title-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 170px;
}
.wrapper-main-aside main .live-panda .live-panda__block-title-button .live-panda__block-title {
  width: 100%;
}
.wrapper-main-aside main .live-panda .live-panda__block-title-button .live-panda__block-title h2 {
  color: #00a092;
  font: 600 54px/66px Montserrat;
  text-transform: uppercase;
  text-align: center;
}
.wrapper-main-aside main .live-panda .live-panda__block-video {
  position: relative;
}
.wrapper-main-aside main .live-panda .live-panda__block-video .live-panda__cam {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 40px;
  font: 400 26px/32px Montserrat;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 0 0 5px 0;
}
.wrapper-main-aside main .live-panda .live-panda__block-video .live-panda__cam svg {
  margin-left: 10px;
}
.wrapper-main-aside main .live-panda .live-panda__title-h3 {
  width: 100%;
}
.wrapper-main-aside main .live-panda .live-panda__title-h3 h3 {
  margin: 100px 0 30px 0;
  font: 400 42px/51px Montserrat;
  text-transform: uppercase;
  text-align: center;
}
.wrapper-main-aside main .live-panda .live-panda__block-carousel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 209px;
  margin-bottom: 150px;
}
.wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__arrow_left {
  margin: 0;
}
.wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__arrow_right {
  margin: 0;
}
.wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block {
  width: 1040px;
  overflow: hidden;
}
.wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video {
  display: flex;
}
.wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video .live-panda__block-video {
  margin-right: 40px;
}
.wrapper-main-aside main .block-welcome__footer {
  background-color: #20113d;
}
.wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper {
  margin: 0 auto;
  width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  color: #fff;
}
.wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-left .block-welcome__foot-b-l-title {
  font: 400 42px/51px Montserrat;
  text-transform: uppercase;
}
.wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-left .block-welcome__foot-b-l-paragraph {
  font: 400 18px/27px Montserrat;
  margin-top: 20px;
  width: 900px;
}
.wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-right p {
  margin-bottom: 15px;
  font: 400 26px/33.8px Montserrat;
}
.wrapper-main-aside main .description {
  margin: 0 auto;
  width: 1400px;
  padding: 150px 0;
}
.wrapper-main-aside main .description .description__block-text-title .description__block-text-shadow {
  width: 1040px;
  margin: 0 auto 150px auto;
  padding: 50px 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 10px #ccc;
}
.wrapper-main-aside main .description .description__block-text-title .description__block-text-shadow h3 {
  margin-bottom: 20px;
  font: 400 42px/51px Montserrat;
  color: #00a092;
  text-transform: uppercase;
  text-align: center;
}
.wrapper-main-aside main .description .description__block-text-title .description__block-text-shadow p {
  font: 400 26px/33.8px Montserrat;
  text-align: center;
}
.wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image {
  display: flex;
  margin-bottom: 50px;
}
.wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image .description__specification {
  margin-right: 240px;
}
.wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image .description__specification p {
  font: 400 26px/33.8px Montserrat;
  margin-bottom: 25px;
}
.wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image .description__specification p .description__p {
  font: 400 18px/27px Montserrat;
  margin-left: 20px;
}
.wrapper-main-aside main .description .description__block-specification-image-text .description__text {
  font: 400 18px/27px Montserrat;
  width: 1160px;
}
.wrapper-main-aside main .description .description__block-specification-image-text .button {
  margin-left: 16px;
}

/* brackpoint wrapper-main-aside */
@media (max-width: 1200px) {
  .wrapper-main-aside aside {
    height: 1330px;
  }
  .wrapper-main-aside aside .aside__inner-slide {
    width: 115px;
    /* верхняя кнопка открытия меню */
    /* блок(видимая часть) */
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__button-menu-open {
    display: flex;
    justify-content: center;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__button-menu-open .aside__live {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal {
    /* блок(часть скрыта) */
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap {
    overflow: hidden;
    /* eagle */
    /* gorilla */
    /* lemur */
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .aside__list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 171px;
    border-top: 1px solid #fff;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .aside__list a {
    width: 114px;
    height: 170px;
    background-color: rgba(245, 128, 33, 0);
    border-radius: 0;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .aside__list a img {
    opacity: 0;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .aside__list a:hover {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 4px rgba(32, 17, 61, 0), 0px 0px 0px 7px rgba(255, 255, 255, 0);
    filter: brightness(0) invert(1);
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .list-panda a {
    background: url(../../assets/images/Panda.png) center/54px 40px no-repeat;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .list-eagle a {
    background: url(../../assets/images/Eagle.png) center/54px 40px no-repeat;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .list-gorilla a {
    background: url(../../assets/images/Gorilla.png) center/46px 40px no-repeat;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .list-lemur a {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 4px rgba(32, 17, 61, 0), 0px 0px 0px 7px rgba(255, 255, 255, 0);
    background: url(../../assets/images/Lemur1.png) center/33px 56px no-repeat;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .list-lemur a:hover {
    filter: none;
  }
  .wrapper-main-aside main {
    /* блок live-panda */
    /* блок донат */
    /* блок с описанием */
  }
  .wrapper-main-aside main .live-panda {
    margin: 0 0 0 135px;
    width: 1025px;
    /* блок с каруселью */
  }
  .wrapper-main-aside main .live-panda .live-panda__block-video,
.wrapper-main-aside main .live-panda .live-panda__block-video iframe {
    width: 1025px;
    height: 760px;
  }
  .wrapper-main-aside main .live-panda .live-panda__title-h3 h3 {
    margin: 10px 0 30px 0;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel {
    margin: 0 0 100px 0;
    /* видимый блок */
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block {
    width: 835px;
    height: 209px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video {
    height: 209px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__block-video iframe {
    width: 265px;
    height: 209px;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper {
    width: 1200px;
    padding: 40px;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-left {
    width: 707px;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-left .block-welcome__foot-b-l-paragraph {
    width: 739px;
  }
  .wrapper-main-aside main .description {
    width: 1200px;
    padding: 100px 40px;
  }
  .wrapper-main-aside main .description .description__block-text-title .description__block-text-shadow {
    margin-bottom: 100px;
    width: 930px;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image .description__specification {
    margin-right: 159px;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__text {
    width: 1120px;
  }
}
@media (max-width: 640px) {
  .wrapper-main-aside aside {
    height: 875px;
  }
  .wrapper-main-aside aside .aside__inner-slide {
    width: 78px;
    height: 500px;
    /* верхняя кнопка открытия меню */
    /* блок(видимая часть) */
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__button-menu-open {
    display: flex;
    justify-content: center;
    width: 78px;
    height: 50px;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__button-menu-open .aside__live {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal {
    height: 400px;
    /* блок(часть скрыта) */
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap {
    overflow: hidden;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .aside__list {
    height: 101px;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .aside__list a {
    width: 78px;
    height: 100px;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__button-scroll {
    height: 50px;
  }
  .wrapper-main-aside main {
    /* блок live-panda */
    /* блок донат */
    /* блок с описанием */
  }
  .wrapper-main-aside main .live-panda {
    width: 640px;
    margin: 0;
    padding: 0 0 0 78px;
    /* кнопка 640px */
    /* блок с каруселью */
  }
  .wrapper-main-aside main .live-panda .live-panda__block-title-button {
    height: 98px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-title-button .live-panda__block-title h2 {
    font-size: 42px;
    line-height: 51px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-title-button .live-panda__block-button {
    display: none;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-video {
    width: 542px;
    height: 402px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-video iframe {
    width: 542px;
    height: 402px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-button-640px {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    margin-top: 20px;
  }
  .wrapper-main-aside main .live-panda .live-panda__title-h3 {
    display: flex;
    justify-content: flex-start;
    padding-left: 97px;
  }
  .wrapper-main-aside main .live-panda .live-panda__title-h3 h3 {
    margin: 20px 0;
    font-size: 26px;
    text-transform: none;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel {
    margin: 0 0 80px 0;
    height: 136px;
    /* стрелка левая */
    /* видимый блок */
    /* стрелка правая */
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__arrow_left {
    display: none;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block {
    height: 136px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video {
    height: 136px;
    width: 1500px;
    padding-left: 97px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video .live-panda__block-video {
    width: 135px;
    height: 136px;
    margin: 0 20px 0 0;
    border-radius: 5px;
    overflow: hidden;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video .live-panda__block-video .live-panda__cam {
    width: 72px;
    height: 22px;
    font-size: 11px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video .live-panda__block-video .live-panda__cam svg {
    width: 11px;
    height: 11px;
    margin: 0 0 0 5px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video .live-panda__block-video iframe {
    width: 135px;
    height: 136px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video .live-panda__block-video:hover {
    border: 2px solid #f58021;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__arrow_right {
    display: none;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    width: 640px;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-left {
    width: 600px;
    margin-bottom: 30px;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-left .block-welcome__foot-b-l-title {
    width: 565px;
    text-align: center;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-left .block-welcome__foot-b-l-paragraph {
    width: 600px;
    text-align: center;
    font-size: 18px;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-right p {
    text-align: center;
  }
  .wrapper-main-aside main .description {
    width: 640px;
    padding: 80px 20px 100px 20px;
  }
  .wrapper-main-aside main .description .description__block-text-title .description__block-text-shadow {
    margin: 0 0 80px 0;
    width: 600px;
    height: 100%;
    padding: 24px 30px 50px 30px;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image {
    flex-direction: column-reverse;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image .description__specification {
    margin: 0;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image .description__image {
    width: 600px;
    height: 600%;
    margin-bottom: 80px;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image .description__image img {
    display: flex;
    width: 600px;
    height: 600%;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__text {
    width: 600px;
  }
}
@media (max-width: 320px) {
  .wrapper-main-aside aside {
    height: 330px;
  }
  .wrapper-main-aside aside .aside__inner-slide {
    z-index: 5;
    width: 50px;
    height: 300px;
    /* верхняя кнопка открытия меню */
    /* блок(видимая часть) */
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__button-menu-open {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__button-menu-open .aside__live {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal {
    height: 200px;
    /* блок(часть скрыта) */
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap {
    overflow: hidden;
    /* eagle */
    /* gorilla */
    /* lemur */
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .aside__list {
    height: 50px;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .aside__list a {
    width: 50px;
    height: 50px;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .list-panda a {
    background-size: 26px 20px;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .list-eagle a {
    background-size: 21px 20px;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .list-gorilla a {
    background-size: 22px 20px;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__block-animal .aside__inner-wrap .list-lemur a {
    background-size: 12px 20px;
  }
  .wrapper-main-aside aside .aside__inner-slide .aside__button-scroll {
    height: 50px;
  }
  .wrapper-main-aside main {
    /* блок live-panda */
    /* блок донат */
    /* блок с описанием */
  }
  .wrapper-main-aside main .live-panda {
    width: 320px;
    margin: 0;
    padding: 0;
    /* кнопка 640px */
    /* блок с каруселью */
    /* кнопка 320px */
  }
  .wrapper-main-aside main .live-panda .live-panda__block-title-button {
    height: 66px;
    /* кнопка стандартная */
  }
  .wrapper-main-aside main .live-panda .live-panda__block-title-button .live-panda__block-title {
    padding-left: 50px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-title-button .live-panda__block-title h2 {
    font-size: 26px;
    line-height: 32px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-title-button .live-panda__block-button {
    display: none;
  }
  .wrapper-main-aside main .live-panda .block-video-big {
    margin-left: 50px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-video {
    width: 270px;
    height: 200px;
    padding: 0;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-video iframe {
    width: 270px;
    height: 200px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-button-640px {
    display: none;
  }
  .wrapper-main-aside main .live-panda .live-panda__title-h3 {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .wrapper-main-aside main .live-panda .live-panda__title-h3 h3 {
    margin: 20px 0;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel {
    margin: 0 0 0 15px;
    height: 110px;
    /* стрелка левая */
    /* видимый блок */
    /* стрелка правая */
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__arrow_left {
    display: none;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block {
    height: 110px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video {
    height: 110px;
    width: 1000px;
    padding-left: 0;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video .live-panda__block-video {
    width: 135px;
    height: 136px;
    margin: 0 20px 0 0;
    border-radius: 5px;
    overflow: hidden;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video .live-panda__block-video .live-panda__cam {
    width: 72px;
    height: 22px;
    font-size: 11px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video .live-panda__block-video .live-panda__cam svg {
    width: 11px;
    height: 11px;
    margin: 0 0 0 5px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video .live-panda__block-video iframe {
    width: 135px;
    height: 136px;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__visible-block .live-panda__hidden-block-video .live-panda__block-video:hover {
    border: 2px solid #f58021;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-carousel .live-panda__arrow_right {
    display: none;
  }
  .wrapper-main-aside main .live-panda .live-panda__block-button-320px {
    display: flex;
    justify-content: center;
    width: 320px;
    margin: 50px 0;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 50px 0;
    width: 320px;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin-bottom: 30px;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-left .block-welcome__foot-b-l-title {
    width: 300px;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-left .block-welcome__foot-b-l-paragraph {
    width: 300px;
    text-align: center;
    font-size: 18px;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-right p {
    text-align: center;
  }
  .wrapper-main-aside main .block-welcome__footer .block-welcome__footer-wrapper .block-welcome__foot-block-right .danat-button {
    width: 300px;
    height: 45px;
  }
  .wrapper-main-aside main .description {
    width: 320px;
    padding: 50px 0 80px 0;
  }
  .wrapper-main-aside main .description .description__block-text-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper-main-aside main .description .description__block-text-title .description__block-text-shadow {
    margin: 0 0 50px 0;
    width: 300px;
    height: 100%;
    padding: 30px 10px 50px 10px;
  }
  .wrapper-main-aside main .description .description__block-text-title .description__block-text-shadow h3 {
    font-size: 26px;
    line-height: 32px;
  }
  .wrapper-main-aside main .description .description__block-text-title .description__block-text-shadow p {
    font-size: 18px;
    line-height: 150%;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image {
    flex-direction: column-reverse;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image .description__specification {
    padding: 0 10px;
    margin: 0;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image .description__specification p .description__p {
    display: block;
    margin: 0;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image .description__specification p .button {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 30px 0 0 0;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image .description__image {
    width: 320px;
    height: 100%;
    margin-bottom: 50px;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__specification-image .description__image img {
    display: flex;
    width: 320px;
    height: 100%;
  }
  .wrapper-main-aside main .description .description__block-specification-image-text .description__text {
    width: 320px;
    padding: 0 10px;
  }
}
/* --------------------------------- подвал --------------------------------- */
footer {
  height: 329px;
  background-color: #20113d;
}

.inner-footer {
  margin: 0 auto;
  width: 1400px;
}

/*  блок с сайтами  */
.inner-footer__sites {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 214px;
  border-bottom: 1px solid #fff;
  /* навигация */
  /* блок с кнопкой */
}
.inner-footer__sites .inner-footer__block-lable .inner-footer__oline-zoo {
  margin-right: 60px;
}
.inner-footer__sites .inner-footer__block-lable .inner-footer__yem-digital {
  margin-right: 60px;
}
.inner-footer__sites .inner-footer__block-links ul {
  display: flex;
}
.inner-footer__sites .inner-footer__block-links ul .link {
  margin: 0 23px;
}
.inner-footer__sites .inner-footer__block-links ul .link a {
  font: 600 18px/22px Montserrat;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.inner-footer__sites .inner-footer__block-links ul .link a:hover {
  color: #00a092;
}
/* блок с копирайтами */
.inner-footer__copiright-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 115px;
}
.inner-footer__copiright-social .inner-footer__block-copiright {
  display: flex;
  color: #fff;
}
.inner-footer__copiright-social .inner-footer__block-copiright p {
  font: 400 18px/27px Montserrat;
  margin-right: 50px;
}

@media (max-width: 1200px) {
  .inner-footer {
    width: 1200px;
    /*  блок с сайтами  */
  }
  .inner-footer .inner-footer__sites {
    padding: 0 40px;
    /* навигация */
  }
  .inner-footer .inner-footer__sites .inner-footer__block-links ul {
    display: flex;
  }
  .inner-footer .inner-footer__sites .inner-footer__block-links ul .link {
    margin: 0 10px;
  }
  .inner-footer .inner-footer__sites .inner-footer__block-lable .inner-footer__oline-zoo {
    margin-right: 30px;
  }
  .inner-footer .inner-footer__sites .inner-footer__block-lable .inner-footer__yem-digital {
    margin-right: 30px;
  }
  .inner-footer .inner-footer__copiright-social {
    padding: 0 40px;
  }
}
@media (max-width: 640px) {
  footer {
    height: 100%;
  }
  footer .inner-footer {
    width: 640px;
  }
  footer .inner-footer .inner-footer__sites {
    flex-direction: column;
    height: 346px;
    padding: 50px 0;
  }
  footer .inner-footer .inner-footer__copiright-social {
    flex-direction: column-reverse;
    height: 200px;
    padding: 50px 0;
  }
  footer .inner-footer .inner-footer__copiright-social .inner-footer__block-copiright p {
    margin: 0 24px;
  }
}
@media (max-width: 320px) {
  footer {
    height: 100%;
  }
  footer .inner-footer {
    width: 320px;
  }
  footer .inner-footer .inner-footer__sites {
    flex-direction: column;
    height: 100%;
    padding: 50px 0 30px 0;
    border-bottom: none;
  }
  footer .inner-footer .inner-footer__sites .inner-footer__block-lable {
    display: flex;
    flex-direction: column;
  }
  footer .inner-footer .inner-footer__sites .inner-footer__block-lable .inner-footer__com {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
  }
  footer .inner-footer .inner-footer__sites .inner-footer__block-links {
    margin-bottom: 30px;
  }
  footer .inner-footer .inner-footer__sites .inner-footer__block-links .link {
    margin: 0 7.5px;
  }
  footer .inner-footer .inner-footer__sites .inner-footer__block-links .link a {
    font-size: 16px;
    line-height: 20px;
  }
  footer .inner-footer .inner-footer__sites .inner-footer__block-button .transporent-button-white {
    width: 300px;
    height: 45px;
  }
  footer .inner-footer .inner-footer__copiright-social {
    height: 100%;
    padding: 0;
  }
  footer .inner-footer .inner-footer__copiright-social .inner-footer__block-copiright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  footer .inner-footer .inner-footer__copiright-social .inner-footer__block-copiright p {
    margin: 30px 0 0 0;
  }
  footer .inner-footer .inner-footer__copiright-social .block-social-links {
    display: flex;
    justify-content: center;
    width: 320px;
    border-bottom: 1px solid #fff;
  }
  footer .inner-footer .inner-footer__copiright-social .block-social-links .common-soc-link {
    margin: 0 25px 32px 25px;
  }
}